// core/file
// @version  1.0.7

@import '../_tools/_index';
@import '../_setup/_index';

.wp-block-file {
	padding: ( $ratio_maj + em ) ( $ratio + em );
	border-width: 2px;
	border-style: solid;
}

.wp-block-file:not([data-block]),
.wp-block-file__content-wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
