// core/post-terms

@import '../_tools/_index';
@import '../_setup/_index';

.wp-block-post-terms {

	&__prefix {
		font-size: var(--wp--preset--font-size--s);
		font-weight: 400;
		text-transform: uppercase;
		letter-spacing: var(--wp--custom--letter-spacing);
	}
}
