// core/post-template
// @version  1.0.4
@use 'sass:math';

@import '../_tools/_index';
@import '../_setup/_index';

.wp-block-post-template {

	&.is-flex-container {
		// Custom gap control.
		gap: var(--theme--block--post-template--gap);

		@include media( 600 ) {
			@for $i from 2 through 6 {
				&.is-flex-container.columns-#{ $i } > li {
					width: calc( ( 100% / #{ $i } ) - var(--theme--block--post-template--gap) + ( var(--theme--block--post-template--gap) / #{ $i } ) );
				}
			}
		}
	}
}

.wp-block-post {

	&.sticky {
		$size: .75rem;

		.wp-block-post-title {
			position: relative;

			&::before {
				content: '';
				display: inline-block;
				width: $size;
				height: $size;
				margin-inline-end: .2em;
				background: var(--theme--css--current-menu-item--decoration--color);
				border-radius: $size + em;
				border-start-start-radius: 0;
				border-end-start-radius: 0;
			}
		}
	}
}
