// core/site-logo
//
// @since    1.0.0
// @version  2.0.0

@import '../_tools/_index';
@import '../_setup/_index';

.wp-block-site-logo {

	&.is-default-size {

		img {
			width: auto;
			max-width: 20em;
		}

		.editor-styles-wrapper & > div {
			width:  auto !important;
			height: auto !important;
		}
	}

	&.aligncenter {
		max-width: fit-content !important; // !important is for editor.
	}

	// Duotone improvements/helpers.
	&[class*="wp-duotone"] {
		--wp--preset--duotone--white: url(#wp-duotone-white) contrast(0) brightness(2);
		--wp--preset--duotone--black: url(#wp-duotone-black) contrast(0) brightness(0);
	}
}
