// core/site-logo

@import '../_tools/_index';
@import '../_setup/_index';

.wp-block-site-logo {

	&.is-default-size {

		img {
			width: auto;
			max-width: 10em;
		}

		.editor-styles-wrapper & > div {
			width:  auto !important;
			height: auto !important;
		}
	}

	&.aligncenter {
		max-width: fit-content !important; // !important is for editor.
	}
}
