/* FILE: _variables/_others.scss */

/*! Vars: Others: */
:root {

	--theme--css--button--border: 2px solid;
}

#{$root} {

	// Some elements may need to use the border color for something else,
	// so we are setting local scope border color variable.
	--theme--css--current-border-color: var(--wp--preset--color--contrast--border); // Border color from global text color.

	--theme--css--button--color--border: transparent;
	--theme--css--button--color--outline: var(--theme--css--button--color--background);

	--theme--css--current-menu-item--decoration--color: currentColor;

	--theme--css--gradient-stop--hard: var(--theme--mod--gradient_stop_hard);
	--theme--css--gradient-stop--soft: var(--theme--mod--gradient_stop_soft);
}
