/* FILE: customize-controls/_others.scss */

@each $option in $customizer_non_theme_panel_controls {

	#customize-control-#{$option} {
		@extend %theme_control_styles;
	}
}

%theme_control_styles {

	label {
		font-weight: 600;
	}

	.description {
		margin-block-start: .382em;
		font-weight: 400;
	}
}
