/* FILE: global/form/_password.scss */

.post-password-form {
	padding: var(--wp--preset--spacing--m);
	border-width: 2px;
	border-style: dashed;

	p:first-child {
		font-size: var(--wp--preset--font-size--l);
	}

	label,
	input {
		display: block;
		width: 100%;
		text-align: inherit;
	}

	label {
		margin-block-end: 1em;

		input {
			margin-block-start: $ratio_min + em;
		}
	}

	[type="submit"] {
		width: auto;
	}
}
