/*! FILE: editor.scss */
@use 'sass:list';

//
// Editor styles.
//
// @package    Zooey
// @copyright  WebMan Design, Oliver Juhas
//
// @since    1.0.0
// @version  2.0.5
//

$is_editor: true;

@import '_tools/_index';
@import '_setup/_index';

@import '_variables/_index';

$important_contexts: list.append( $important_contexts, 'modifier_mark' );
$important_contexts: list.append( $important_contexts, 'text_wrap' );

@import 'global/_index';
@import 'custom/_index';
@import 'editor/_index';

@import '_extend/_index';
