/* FILE: editor/_post-title.scss */

.edit-post-visual-editor__post-title-wrapper[class] {
	padding-inline: 6%;
	margin-block: 2rem !important;
	text-align: center;

	.wp-block-post-title {
		max-width: 1280px;
		padding: 0;
		margin: 0;
		font-size: $ratio + em;
		font-weight: 600;
		text-transform: none;
		letter-spacing: 0;
		color: inherit;
	}
}
