/* FILE: global/base/_base.scss */

html {
	box-sizing: border-box;
	font-size: var(--theme--css--font-size-base);
	overflow-y: scroll;
	scroll-behavior: smooth;
}

* {

	// This has to be prefixed with `body` so WordPress native
	// `:where(body)` global CSS style (WP6.6+) is not overridden.
	// This also means we can not set block border color in `theme.json`!
	body & {
		border-color: inherit;
	}

	&,
	&::before,
	&::after {
		box-sizing: inherit;
	}
}

body {

	@include media( ( map_get( $breakpoint, 'm' ), 'max-width' ) ) {
		line-height: 1.4;
	}

	@include media( ( map_get( $breakpoint, 'l' ), 'max-width' ) ) {
		line-height: 1.5;
	}
}
