/* FILE: global/base/_links.scss */
@use 'sass:map';

a {
	text-underline-offset: var(--wp--custom--underline--offset--default);
	text-decoration-skip-ink: var( --wp--custom--underline--skip-ink, auto );
	overflow-wrap: break-word;
	word-wrap: break-word;

	&,
	&:hover,
	&:focus,
	&:active {
		text-decoration-thickness: var(--wp--custom--underline--thickness);
		text-decoration-color: var( --wp--custom--underline--color, currentColor );
	}

	&:hover,
	&:active {
		outline: none;
	}

	[style*="text-decoration"] &:not(:hover, :focus, :active) {
		text-decoration: inherit;
	}
}

[href^="tel"] {
	white-space: nowrap;

	@include media( map.get( $breakpoint, 'm' ) ) {
		text-decoration: none;
		color: inherit;
	}
}

h1, h2, h3, h4, h5, h6 {

	a {
		text-underline-offset: var(--wp--custom--underline--offset--heading);
		color: inherit;
	}
}
