//
// Colors styles helper.
//
// @since    1.0.0
// @version  2.0.4
//
// @param  string $slug
//
@mixin color_classes( $slug: '' ) {

	.has-#{ $slug }-background-color {
		color: var(--wp--preset--color--#{ $slug }--bg-text);

		&:where( #{ $selectors_button_colors } ) {
			--theme--css--button--color--background: var(--wp--preset--color--#{ $slug });
			--theme--css--button--color--text: var(--wp--preset--color--#{ $slug }--bg-text);
		}

		// We need to override WordPress default color, unfortunately.
		&.wp-block-navigation__responsive-container[class][class][class] {
			color: var(--wp--preset--color--#{ $slug }--bg-text);
		}
	}
}
