//
// Screen reader hiding.
//
// @since    1.0.0
// @version  2.0.4
//
// @param  string $action
//
@mixin screen_reader( $action: 'hide' ) {

	@if 'show' == $action {
		clip-path: none;
		// Position can not be predicted here.
		width: auto;
		height: auto;
		line-height: normal;

	} @else {
		clip-path: inset( 50% );
		position: absolute !important;
		width: 1px;
		height: 1px;
		line-height: 1px;
		overflow: hidden;
		word-wrap: normal !important;
		word-break: normal !important;

	}
}
