<!-- wp:template-part {"slug":"header","tagName":"header","className":"is-style-site-header","anchor":"masthead"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"margin":{"top":"0"}}}} -->
<main id="content" class="wp-block-group" style="margin-top:0">

	<!-- wp:template-part {"slug":"template-search"} /-->

</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer","className":"is-style-site-footer","style":{"spacing":{"margin":{"top":"0"}}},"anchor":"colophon"} /-->
