<!-- wp:template-part {"slug":"header","tagName":"header","className":"is-style-site-header","anchor":"masthead"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"margin":{"top":"0"}}}} -->
<main id="content" class="wp-block-group" style="margin-top:0">

	<!-- wp:template-part {"slug":"intro-post","tagName":"header","className":"is-style-page-header"} /-->

	<!-- wp:post-content {"style":{"spacing":{"margin":{"top":"var:preset|spacing|content","bottom":"var:preset|spacing|content"}}},"layout":{"type":"constrained"}} /-->

	<!-- wp:template-part {"slug":"entry-meta-bottom","style":{"spacing":{"margin":{"top":"0","bottom":"var:preset|spacing|content"}}}} /-->

	<!-- wp:template-part {"slug":"entry-navigation","style":{"spacing":{"margin":{"bottom":"var:preset|spacing|content"}}}} /-->

	<!-- wp:template-part {"slug":"comments","tagName":"section","style":{"spacing":{"margin":{"top":"0"}}}} /-->

</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer","className":"is-style-site-footer","style":{"spacing":{"margin":{"top":"0"}}},"anchor":"colophon"} /-->
