/* FILE: custom/_others.scss */

// Border radius.

	.has-background {

		&:not(.alignfull) {

			:root :where( & ) {
				border-radius: var(--wp--custom--border-radius--bg);
			}

			header > &,
			footer > & {

				:root :where( & ) {
					border-radius: inherit;
				}
			}
		}
	}

	.wp-block-cover.alignwide {

		:root :where( & ) {
			border-radius: var(--wp--custom--border-radius--bg);
		}

		> span,
		> img {

			:root :where( & ) {
				border-radius: inherit;
			}
		}
	}

	.alignfull {

		&,
		> img,
		> figure img,
		> a > img {
			border-radius: 0;
		}
	}

// Text meant only for screen readers.

	body[class] .screen-reader-text,
	.is-style-screen-reader-text {

		&:focus {
			border-radius: var(--wp--custom--button--border-radius);
		}
	}

// Quote.

	blockquote {

		@include media( map_get( $breakpoint, 'l' ) ) {

			&:not(.has-background) {
				position: relative;
				padding-inline-start: calc( var(--wp--custom--quote--decoration--font-size) / 2 );

				p:first-of-type::before {
					display: none;
				}

				&::before {
					content: '“';
					speak: none;
					position: absolute;
					inset-inline-start: 0;
					inset-block-start: 0;
					height: 100%;
					font-family: var(--wp--custom--quote--decoration--font-family);
					font-size: var(--wp--custom--quote--decoration--font-size);
					font-weight: 700;
					line-height: 1;
					background-image: linear-gradient( to bottom, currentColor, currentColor );
					background-position: 50% math.div( 1em, 1 + $ratio_min );
					background-repeat: no-repeat;
					background-size: 2px 100%;
					transform: translateX(-50%);

					.rtl & {
						transform: translateX(50%);
					}
				}
			}
		}
	}

// Responsive alignment.

	.has-justify-content-right,
	.has-justify-content-flex-end {
		@include media( ( 782, 'max-width' ) ) { // WP breakpoint.
			justify-content: flex-start !important;
		}
	}

// Custom background.

	.custom-background.custom-background {
		background-color: var(--wp--preset--color--base);
	}

// Archives.

	.term-description {
		max-width: 560px;
		font-size: var(--wp--preset--font-size--l);
	}
